@charset "utf-8";
body{
	position:relative;
}
#wrapper{
	height:100%;
	width:95%;
	margin-left:2.5%;
	position:absolute;

	}
	
#container1 {
position:fixed;
    top: 18%;
    left: 0px;
	font-family:'Droid Sans',sans-serif;font-size:9pt;color:#d8c99e;font-weight:700;text-transform:uppercase;
}

#container2 {
  background-image: url("mario-trimet.jpg"); /* The image used */

  height:80%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

.pipNorth{
	position: fixed;
	right: -582px;
	top: 110px;
	z-index: 1;
}
.pipSouth{
	position: fixed;
	right: -582px;
	top: 130px;
	z-index: 1;
}
.pipWest{
	position: fixed;
	right: -582px;
	top: 170px;
	z-index: 1;
}
.pipEast{
	position: fixed;
	right: -582px;
	top: 150px;
	z-index: 1;
}

.inventory-icon-on{
		position: fixed;height: auto;z-index: 1;background-size: contain;background-repeat: no-repeat;text-align: right;text-align: bottom;	-webkit-transition: transform 0.1s;
		opacity: 1;
}

.inventory-icon{
		position: fixed;height: auto;z-index: 1;background-size: contain;background-repeat: no-repeat;text-align: right;text-align: bottom;	-webkit-transition: transform 0.1s; opacity: .2;
}

#Hatchet {
	width: 30px;
	height: 50px;
	top: 159px;
	right: -160px;
	background-image: url("pipboy/hatchet.png");

}

#Hammer {
	width: 40px;
	top: 223px;
	right: -160px;
	background-image: url("pipboy/hammer.png");

}

#boat {
	width: 43px;
	top: 273px;
	right: -160px;
	background-image: url("pipboy/boat.png");
}

#Pickaxe {
	width: 30px;
	top: 275px;
	right: -225px;
	background-image: url("pipboy/pickaxe.png");
}

#ChainsawOuter {
	width: 80px;
	height:40;
	top: 275px;
	right: -350px;
	background-image: url("pipboy/chainsaw.png");
}

#Chainsaw {
	position: fixed;
	top: 288px;
	right: -300px;
}

#Chisel {
	width: 50px;
	height:40;
	top: 251px;
	right: -395px;
	background-image: url("pipboy/chisel.png");
}

#Sledge {
	width: 40px;
	height: 50px;
	top: 272px;
	right: -395px;
	background-image: url("pipboy/sledge.png");
}

#Jackhammer {
	width: 30px;
	height: 60px;
	top: 175px;
	right: -395px;
	background-image: url("pipboy/jackhammer.png");
}

#Machete {
	width: 40px;
	height: 60px;
	top: 157px;
	right: -348px;
	background-image: url("pipboy/machete.png");
}

#Shears {
	width: 60px;
	top: 157px;
	right: -232px;
	background-image: url("pipboy/shears.png");
}

#Binoculars {
	width: 32px;
	top: 175px;
	right: -277px;
	background-image: url("pipboy/binoculars.png");
}

#oldPip{
	width:527px;
	height: 384px;
	position: fixed;
	right: -601px;
	top: 86px;
	z-index: 0;
	background-image: url("pipboy/oldboy.gif");
	background-size: contain;background-repeat: no-repeat;
}
.button{
	
	}

.grow2 {
  -webkit-transform: scale(0.4) translate(-250px, 0);
  -webkit-transition: height 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
  

}
.grow2:hover {
	-webkit-transform: scale(1.1) translate(49px, 60px);
}
/*not a repeat*/
.grow2-hover {
	-webkit-transform: scale(1.1) translate(49px, 60px);
	  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
}

.pip{
	width:630px;
	height:400px;
	background:#8b7867;
	background: linear-gradient(#8b7867,#4f4138);
	margin:100px auto 0 auto;
	border-radius:50px;
	border-bottom-right-radius:90px;
	border-top:2px solid #c3bfb4;
	position:absolute;
	}

	#pipFixedElements{
		font-family:'Droid Sans',sans-serif;font-size:9pt;color:#d8c99e;font-weight:700;text-transform:uppercase;
	}