@charset "utf-8";
bodt{
	position:relative;
}
#wrapper{
	height:100%;
	width:95%;
	margin-left:2.5%;
	position:absolute;

	}
	
#container1 {
position:fixed;
    top: 18%;
    left: 0px;
background:;font-family:'Droid Sans',sans-serif;font-size:9pt;color:#d8c99e;font-weight:700;text-transform:uppercase;
	
}

.pipNorth{
	position: fixed;
	right: -582px;
	top: 110px;
	z-index: 1;
}
.pipSouth{
	position: fixed;
	right: -582px;
	top: 130px;
	z-index: 1;
}
.pipWest{
	position: fixed;
	right: -582px;
	top: 170px;
	z-index: 1;
}
.pipEast{
	position: fixed;
	right: -582px;
	top: 150px;
	z-index: 1;
}

#mapi {
	position: absolute;
	height:100px;
	width:100px;
background-image: url("i.imgur.com/6ro0m3w.gifv");
	}
.button{
	
	}

.grow2 {
  -webkit-transform: scale(0.4) translate(-250px, 0);
  -webkit-transition: height 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
  

}
.grow2:hover {
	-webkit-transform: scale(1) translate(49px, 60px);
}

.pip{
	width:630px;
	height:400px;
	background:#8b7867;
	background: linear-gradient(#8b7867,#4f4138);
	margin:100px auto 0 auto;
	border-radius:50px;
	border-bottom-right-radius:90px;
	border-top:2px solid #c3bfb4;
	position:absolute;
	}