@charset "utf-8";
body{
		position:relative;
	 margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
	overflow-x: hidden;	
	overflow-y: hidden;
}
.wrapper{
	margin-right:-1%;
	margin-bottom:5%;
	position: absolute;
	height:100%;
	width:100%;
	max-height:970px; /*adjust max height of map */
right:-7.8%;
	  /*background-image: url("mario-trimet.jpg");*/
background-color: rgba(235,235,235,0.84); 
  background-repeat: no-repeat;
  z-index:0;
  background-size: 100% 100%;	

}

#wrapper {
  	-webkit-transform: scale(0.9) translate(-13%,0px);
	  -webkit-transition: height 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
 
}

#wrapper-new {
  	-webkit-transform: scale(0.9) translate(-13%,0px);
	  -webkit-transition: height 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
 
}
#wrapper-out {
	-webkit-transform: scale(0.8) translate(-5%, 0);
    -webkit-transition: height 0.5s ease-in-out;
    -webkit-transition: width 0.5s ease-in-out;
    -webkit-transition: transform 0.5s ease-in-out 0.1s; 

}

#hand{
	position: absolute;
	z-index:99;
	height:auto;
	width:15%;
	bottom:-5%;
	right:-10.8%;
}
	
#container1 {
position:fixed;
    top: 18%;
    left: 0px;
	font-family:'Droid Sans',sans-serif;font-size:9pt;color:#d8c99e;font-weight:700;text-transform:uppercase;
	z-index:9;
}

#map {
font-family:DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
	background-color:blue;
}

#gameCanvas {
position: absolute;
top: 20%;
left: 60%;
z-index: 100;
width: "500";
height: "500";
	
}
#img {
	opacity: .4;
	position:fixed;
		height:100%;
	width:100%;
	background-image: url("pipboy/tree.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;	
}

#img2 {
	opacity: .9;
	position:fixed;
		height:100%;
	width:100%;
	background-image: url("pipboy/tree-Blur.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;	
}


#info-box {
	position: fixed;
}

#map {

		position: absolute;
	-webkit-transform: scale(3.9, 1.7) translate(-9px, -29px);
	bottom: 20%;
	right: 25%;
font-family:DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
color: black;

}

#img {
	opacity: .4;
	position:fixed;
		height:100%;
	width:100%;
	background-image: url("pipboy/tree.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;	
}

#img2 {
	opacity: .9;
	position:fixed;
		height:100%;
	width:100%;
	background-image: url("pipboy/tree-Blur.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;	
}


.pipNorth{
	position: fixed;
	right: -582px;
	top: 110px;
	z-index: 1;
}
.pipSouth{
	position: fixed;
	right: -582px;
	top: 130px;
	z-index: 1;
}
.pipWest{
	position: fixed;
	right: -582px;
	top: 170px;
	z-index: 1;
}
.pipEast{
	position: fixed;
	right: -582px;
	top: 150px;
	z-index: 1;
}

.inventory-icon-on{
		position: fixed;height: auto;z-index: 1;background-size: contain;background-repeat: no-repeat;text-align: right;text-align: bottom;	-webkit-transition: transform 0.1s;
		opacity: 1;
}

.inventory-icon{
		position: fixed;height: auto;z-index: 1;background-size: contain;background-repeat: no-repeat;text-align: right;text-align: bottom;	-webkit-transition: transform 0.1s; opacity: .2;
}

#Hatchet {
	width:30px;
	height: 0px;
	top: 163px;
	right: -160px;
	background-image: url("pipboy/hatchet.png");
}

#Hammer {
	width: 40px;
	top: 223px;
	right: -160px;
	background-image: url("pipboy/hammer.png");
}

#boat {
	height:43px;
	width: 43px;
	top: 273px;
	right: -166px;
	background-image: url("pipboy/boat.png");
}

#Pickaxe {
	width: 30px;
	top: 273px;
	right: -225px;
	background-image: url("pipboy/pickaxe.png");
}

#ChainsawOuter {
	width: 80px;
	height:40;
	top: 275px;
	right: -350px;
	background-image: url("pipboy/chainsaw.png");
}

#Chainsaw {
	position: fixed;
	top: 268px;
	right: -300px;
}

#Chisel {
	width: 50px;
	height:40;
	top: 251px;
	right: -395px;
	background-image: url("pipboy/chisel.png");
}

#Sledge {
	width: 40px;
	height: 50px;
	top: 271px;
	right: -395px;
	background-image: url("pipboy/sledge.png");
}

#Jackhammer {
	width: 30px;
	height: 60px;
	top: 175px;
	right: -395px;
	background-image: url("pipboy/jackhammer.png");
}

#Machete {
	width: 40px;
	height: 60px;
	top: 157px;
	right: -348px;
	background-image: url("pipboy/machete.png");
}

#Shears {
	width: 60px;
	top:157px;
	right: -232px;
	background-image: url("pipboy/shears.png");
}

#Binoculars {
	width: 31px;
	top: 175px;
	right: -277px;
	background-image: url("pipboy/binoculars.png");
}

#oldPip{
	width:527px;
	height: 384px;
	position: fixed;
	right: -601px;
	top: 86px;
	z-index: 0;
	background-image: url("pipboy/oldboy.gif");
	background-size: contain;background-repeat: no-repeat;
}
.button{
	
	}

.grow2 {
  -webkit-transform: scale(0.4) translate(-250px, 0);
  -webkit-transition: height 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
  

}
.grow2:hover {
	-webkit-transform: scale(1.1) translate(49px, 60px);
		  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
}
/*not a repeat*/
.grow2-hover {
	-webkit-transform: scale(1.1) translate(49px, 60px);
	  -webkit-transition: transform 0.5s ease-in-out 0.1s; 
}

.pip{
	width:630px;
	height:400px;
	background:#8b7867;
	background: linear-gradient(#8b7867,#4f4138);
	margin:100px auto 0 auto;
	border-radius:50px;
	border-bottom-right-radius:90px;
	border-top:2px solid #c3bfb4;
	position:absolute;
	}

	#pipFixedElements{
		font-family:'Droid Sans',sans-serif;font-size:9pt;color:#d8c99e;font-weight:700;text-transform:uppercase;
	}
	
/*#container2 {
	position:relative;
  background-image: url("mario-trimet.jpg");

width: 100%;
  height:100%; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: contain;
  z-index:0;
  
}*/





































































